header {
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
}


section {
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
}

footer {
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	text-align: center;
	font-weight: bold;
	color: #ffffff;
}

body {
	
	background-image: url("#{resource['imagenes:fondo2.jpg']}");
	
}

/* color del fondo de la barra de menú */
.ui-menubar, .ui-menu-child, .ui-menu {
	background: #FFFFFF !important;
}

/* color del texto de la barra de menú */
.ui-menuitem-text{
	color: #0086d7;
}

table {
	margin-left: auto;
	margin-right: auto;
}


label {
	color: #14a4ff;
}


h2{
	color: #ffffff;
	text-align:center;
}


h3{
	color: #ffffff;
	text-align:center;
}

.titulo {
	color: #0086d7;
}