.panelprincipal{
	background-color: #e1e1e1;
}

.panelprincipal table {
	margin-left: auto;
	margin-right: auto;
}

.panelprincipal label {
	color: #0000ff;
	font-weight: bold;
}

.estiloboton{
	width: 240px;
	height: 30px;
}


