header {
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	background-image: url("#{resource['imagenes:fondo2.jpg']}");
}

section {
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	background-image: url("#{resource['imagenes:fondo3.jpg']}");
}

footer {
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	text-align: center;
	background-image: url("#{resource['imagenes:fondo2.jpg']}");
	font-weight: bold;
}

/* color de la barra de menú */
.ui-menubar, .ui-menu-child, .ui-menu {
	background: #CED8F6 !important;
}

table {
	margin-left: auto;
	margin-right: auto;
}

label {
	color: #14a4ff;
}

.titulo {
	color: #0086d7
}